**Extracting the CO2 emissions data from Celebrity Jets twitter account (Mar 22 - Sep 22)**

In [ ]:
# Installing the snscrape module
pip install snscrape

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting snscrape
  Downloading snscrape-0.3.4-py3-none-any.whl (35 kB)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.6.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from snscrape) (4.9.1)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from snscrape) (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (2.10)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.3.4

In [ ]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

query = "(from:CelebJets) until:2022-09-02 since:2010-01-01"
tweets = []
limit = 5000


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])
        
df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(df)

                          Date       User  \
0    2022-09-01 20:44:04+00:00  CelebJets
1    2022-09-01 19:27:37+00:00  CelebJets
2    2022-09-01 19:27:36+00:00  CelebJets
3    2022-09-01 19:14:15+00:00  CelebJets
4    2022-09-01 19:01:06+00:00  CelebJets
...                        ...        ...
4260 2021-10-22 19:23:22+00:00  CelebJets
4261 2021-10-22 16:10:00+00:00  CelebJets
4262 2021-10-22 16:08:57+00:00  CelebJets
4263 2021-10-22 15:46:14+00:00  CelebJets
4264 2021-10-22 14:24:44+00:00  CelebJets

                                                  Tweet
0     Puma/Jay-Z's Jet Landed in Van Nuys, Californi...
1     Tom Cruise's P51  \n~ 29 gallons (109 liters)....
2     Tom Cruise's P51 Landed in Chino, California, ...
3     Tom Cruise's P51 Circling 6.46mi SW of KRIV, M...
4     Tom Cruise's P51 Took off from Chino, Californ...
...                                                 ...
4260  "A-Rod's Jet" Landed in Houston, Texas, US. Ap...
4261  "A-Rod's Jet" Going to Houston, Texas, US (HOU...
4262  "A-Rod's Jet" Took off from Teterboro, New Jer...
4263  "Tom Cruise's G5" Landed near Saint Martin, (u...
4264                                   @IceMozart Added

[4265 rows x 3 columns]

In [ ]:
# to save to csv
df.to_csv('Celebrity Jets tweets.csv')

In [ ]:
df

,Date,User,Tweet
0,2022-09-01 20:44:04+00:00,CelebJets,"Puma/Jay-Z's Jet Landed in Van Nuys, Californi..."
1,2022-09-01 19:27:37+00:00,CelebJets,Tom Cruise's P51 \n~ 29 gallons (109 liters)....
2,2022-09-01 19:27:36+00:00,CelebJets,"Tom Cruise's P51 Landed in Chino, California, ..."
3,2022-09-01 19:14:15+00:00,CelebJets,"Tom Cruise's P51 Circling 6.46mi SW of KRIV, M..."
4,2022-09-01 19:01:06+00:00,CelebJets,"Tom Cruise's P51 Took off from Chino, Californ..."
...,...,...,...
4260,2021-10-22 19:23:22+00:00,CelebJets,"""A-Rod's Jet"" Landed in Houston, Texas, US. Ap..."
4261,2021-10-22 16:10:00+00:00,CelebJets,"""A-Rod's Jet"" Going to Houston, Texas, US (HOU..."
4262,2021-10-22 16:08:57+00:00,CelebJets,"""A-Rod's Jet"" Took off from Teterboro, New Jer..."
4263,2021-10-22 15:46:14+00:00,CelebJets,"""Tom Cruise's G5"" Landed near Saint Martin, (u..."
4264,2021-10-22 14:24:44+00:00,CelebJets,@IceMozart Added